---
const { id, nom, code_svg} = Astro.props
---

<div class="card bg-base-100 shadow-xl border border-base-300 rounded-xl overflow-hidden">
  <div class="card-body flex flex-col justify-between items-center gap-4 p-6 min-h-[300px]">
    <div
      class="w-full h-[200px] flex justify-center items-center border border-dashed border-primary rounded-lg overflow-hidden"
      set:html={code_svg}
    ></div>
    <h2 class="text-lg font-semibold text-center">{nom}</h2>
    <button
      class="btn btn-outline btn-error btn-sm"
      data-id={id}
    >
      Supprimer
    </button>
    <button>
      <a href={`/gallery/${id}`} class="btn btn-outline btn-primary btn-sm">
        Éditer
      </a>
    </button>
  </div>
</div>
